<div class="mb-3">
    <label for="username" class="form-label ms-2">Username: </label>
    <input type="text" class="form-control" name="username" id="username" maxlength="40" value="<%= userEdit.user%>">
</div>

<div class="mb-3">
    <label for="role" class="form-label ms-2">Nivel del Usuario: </label>
    <select class="form-select" name="role" id="role">
        <% if(userEdit.role==='admin' ){ %>
            <option selected value="admin">
                Administrador
            </option>
            <option value="user">
                Usuario
            </option>
            <% } else{ %>
                <option selected value="user">
                    Usuario
                </option>
                <option value="admin">
                    Administrador
                </option>
                <% } %>
    </select>
</div>

<div class="mb-3">
    <label for="name" class="form-label ms-2">Nombre completo: </label>
    <input type="text" class="form-control" name="name" id="name" maxlength="20" value="<%= userEdit.name%>">
</div>

<div class="input-group mb-4">
    <div>
        <label for="password" class="form-label ms-2">Nueva Contraseña (dejar en blanco para no cambiar): </label>
        <input type="password" class="form-control" name="password" id="password" rows="3" maxlength="20">
    </div>

    <div class="input-group-append">
        <br>
        <span class="input-group-text ms-2 mt-2" onclick="password_show_hide();">
            <i class="fas fa-eye" id="show_eye"></i>
            <i class="fas fa-eye-slash d-none" id="hide_eye"></i>
        </span>
    </div>
</div>