<%- include('../partials/head.ejs') %>
    </head>

    <body>
        <div class="container-fluid">
            <div class="row">
                <%- include('../partials/nav-sin-search.ejs') %>
            </div>
            <div class="container pt-4">
                <div class="alert alert-dark shadow" role="alert">
                    <div class="row justify-content-center">
                        <div class="col-md-6 offset-md-1">
                            <img src="https://res.cloudinary.com/dntnaemjx/image/upload/v1665726617/gato_ntmtv9.jpg"
                                alt="gato triste" width="520" height="450">
                        </div>
                    </div>

                    <h4 class="alert-heading mt-2 text-center">No encontré el post que estabas buscando :(</h4>

                    <hr>

                    <p>
                        <svg xmlns="http://www.w3.org/2000/svg" width="26" height="20" fill="currentColor"
                            class="bi bi-info-circle mb-1" viewBox="0 0 16 16">
                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                            <path
                                d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z" />
                        </svg>
                        ¿Te gustaría <a href="/articles/new-post">crear uno</a> o <a href="/">volver al
                            inicio</a>?
                    </p>
                </div>
            </div>

            <%- include('../partials/footer.ejs') %>
        </div>
        <script src="/js/confirm-logout.js"></script>
        <script src="/js/switch-dark.js"></script>
    </body>

    </html>