<%- include('../partials/head.ejs') %>
    </head>

    <body>
        <div class="container-fluid">
            <div class="row">
                <%- include('../partials/nav-sin-search.ejs') %>
            </div>
            <div class="container pt-4">
                <%- include('article-card.ejs') %>
            </div>

            <%- include('../partials/footer.ejs') %>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.5.1/dist/sweetalert2.all.min.js"></script>
        <script src="/js/switch-dark.js"></script>
        <script src="/js/confirm-logout.js"></script>
    </body>

    </html>